body {
    margin: auto;
    padding: auto;
    width: 50%;
    background: #ff6700;
    font-size: 17px;
}



.maincon {
    background: linear-gradient(13deg, #ffffff, #eeedcf);
    border-radius: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-top: 3px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.input {
    border-radius: 10px;
    font-size: 17px;
    outline: 2px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}

.input:focus {
    outline-offset: 5px;
    background-color: #fff
}

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active {
    transform: scale(0.9);
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.border {
    background-image: linear-gradient(to left, red, blue);
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.border::before {
    background-image: linear-gradient(to left, red, blue);
    content: "";
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    scale: 1.1;
    filter: blur(25px);
    animation: rotate 4s linear infinite;
    border-radius: 100px;
}

.content {
    background-color: #111;
    width: 100px;
    height: 100px;
    border-radius: 19px;
    scale: 0.9;
}

#timer_show {
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(360deg, #ff6700, #f5f5f5);
}

.button-s {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px 22px 20px 25px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #1c3eff36;
    border-style: solid;
    border-width: 10px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: tranFsform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out;
    word-spacing: -2px;
}

@keyframes movingBorders {
    0% {
        border-color: #1c3eff36;
    }

    80% {
        border-color: #1c3eff;
    }

    99% {
        border-color: #1c3eff36;
    }
}

.button-s:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 8s infinite;
}

.button-s svg {
    fill: rgb(255, 110, 110);
    margin-left: 1px;
}

@keyframes beatingHeart {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.15);
    }

    30% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1);
    }
}

.button-s:hover svg {
    transform: scale(110%);
    border-color: #ffd8d8;
    animation: beatingHeart 1.2s infinite;
}

#link-buy {
    color: #00116e;
    transition: ease-in-out 0.3s;
}

#link-buy:hover {
    color: #fd0202;
}
